[submodule "external/perception"]
	path = external/perception
	url = https://github.com/Rhoana/perception
[submodule "external/mask_rcnn"]
	path = external/mask_rcnn
	url = git@github.com:haehn/Mask_RCNN.git
[submodule "external/ian"]
	path = external/ian
	url = git@github.com:haehn/cnn-stimuli.git
